<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/dashboard.css">
</head>
<body>
    <div class="container">

        <div class="sidebar">
            <h2>Dashboard</h2>

            <ul>
                <li><h1><a href="{{ url_for('users_page') }}">Пользователи</a></h1></li>
                <li><h1><a href="{{ url_for('products_page') }}">Товары</a></h1></li>
                <li><h1>Настройки</h1></li>
            </ul>
        </div>

        <div class="content">

            <div class="info-box">
                <h2>Клиенты</h2>
                <h1>{{ data.count_clients }}</h1>
            </div>

            <div class="info-box">
                <h2>Сделки</h2>
                <h1>{{ data.count_deal }}</h1>
            </div>

            <div class="info-box">
                <h2>Задачи</h2>
                <h1>{{ data.count_tasks }}</h1>
            </div>

            <div class="info-box">
                <h2>Выручка</h2>
                <h1>{{ data.count_revenue }} ₽</h1>
            </div>
        </div>
    </div>

</body>
</html>


