<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="/static/user_page.css">
</head>
<body>
    <h1>Пользователи</h1>

    <div>
        <h2><a href="{{ url_for('dashboard_page') }}">Dashboard</a></h2>
        <ul>
            <li>Пользователи</li>
            <li>Товары</li>
            <li>Настройки</li>
        </ul>
    </div>

    <div class="users-container">
        <h1>Пользователи</h1>

        <table class="users-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>Количество заказов</th>
                </tr>
            </thead>

            <tbody>
                {% for user in users %}
                <tr>
                    <td>ID: <b>{{ user.id }}</b></td>
                    <td>Имя: <b>{{ user.name }}</b></td>
                    <td>Количество заказов: <b>{{ user.count }}</b></td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>