<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="/static/users.css">
</head>
<body>
    <h1>Пользователи</h1>

    <div>
        <h2><a href="{{ url_for('dashboard_page') }}">Dashboard</a></h2>
        <ul>
            <li>Пользователи</li>
            <li>Товары</li>
            <li>Настройки</li>
        </ul>
    </div>

    <div>
        {% for user in users %}
            <div>
                <p>ID: <b>{{ user.id }}</b></p>
                <p>Имя: <b>{{ user.name }}</b></p>
                <p>Количество заказов: <b>{{ user.count }}</b></p>
            </div>
        {% endfor %}
    </div>

</body>
</html>